## server main settings
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set gamename rdr3
set sv_enforceGameBuild 1491

# https://docs.fivem.net/docs/server-manual/server-commands/#sv_purelevel-level
#sets sv_pureLevel 1
#sets sv_pureLevel 2

# locale config
setr rsg_locale "en"
setr ox:locale en

## key license settings
sv_licenseKey "{{svLicense}}"

# Provide your Steam Web API Key (Get one at https://steamcommunity.com/dev/apikey)
set steam_webApiKey "YOUR_STEAM_API_KEY"
# Force players to be authenticated with Steam before joining set to true
set sv_enforceSteamAuth false

## database settings
set mysql_connection_string "{{dbConnectionString}}"
set mysql_slow_query_warning 300

## voice settings
setr voice_useSendingRangeOnly false
setr voice_use3dAudio true
setr voice_defaultVoiceMode 2
setr voice_enableUi 1

## server settings
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US"
load_server_icon myLogo.png
sets Framework "RSG"
sets Framework Discord "https://discord.gg/eW3ADkf4Af"
sets banner_detail "link"
sets banner_connecting  "link"
sets Discord "link"
sets Developer "link"
sets tags "rsg,roleplay"

set txAdmin-menuPtfxDisable true # Disable TXAdmin NoClip Particle Effect
set sv_experimentalNetGameEventHandler false

# https://v6.mantine.dev/theming/colors/#default-colors
setr ox:primaryColor red
setr ox:primaryShade 8

# use target
setr UseTarget false

# default resources
ensure mapmanager
ensure spawnmanager
#ensure basic-gamemode
#ensure hardcap

# database and library
ensure oxmysql
ensure ox_lib

# resources
ensure rsg-core
ensure rsg-multicharacter
ensure rsg-spawn
ensure rsg-menubase
ensure ox_target
ensure rsg-chat
ensure [standalone]
ensure [framework]
ensure [mapmods]
ensure [community]

## weathersync permissions
exec resources/[standalone]/weathersync/permissions.cfg

## Permissions ##
add_ace group.admin command allow # allow all commands to group.admin

###################### GOD ######################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.god

################### HEADADMIN ###################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.headadmin

################### DEVELOPER ###################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.developer

##################### ADMIN #####################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.admin

##################### MOD #######################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.mod

#################### HELPER #####################
#add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.helper

# Resources
add_ace resource.rsg-core command allow # Allow rsg-core to execute commands

# ACE Group Command Permissions
add_ace rsgcore.god command allow
add_ace rsgcore.headadmin command allow
add_ace rsgcore.developer command allow
add_ace rsgcore.admin command allow
add_ace rsgcore.mod command allow
add_ace rsgcore.helper command allow

# Permission Group Inheritance Hierarchy
add_principal rsgcore.god group.admin             # GOD receives full group.admin commands
add_principal rsgcore.god rsgcore.headadmin       # GOD inherits HEADADMIN rights
add_principal rsgcore.headadmin rsgcore.developer # HEADADMIN inherits DEVELOPER rights
add_principal rsgcore.developer rsgcore.admin     # DEVELOPER inherits ADMIN rights
add_principal rsgcore.admin rsgcore.mod           # ADMIN inherits MOD rights
add_principal rsgcore.mod rsgcore.helper          # MOD inherits HELPER rights

# ox_lib permissions
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
